---
import Link from 'astro-typesafe-routes/link'
import Dropdown from './_Dropdown.astro'
import { navLinks } from '#lib/consts.ts'

type Props = {
	class?: string
}

const { class: className } = Astro.props
---

<nav class:list={['container', className]}>
	<ul class="links | gap-s">
		{
			navLinks.map((link) => (
				<li>
					{'children' in link ? (
						<Dropdown label={link.label} class="px-2xs">
							<ul class="menu-list">
								{link.children.map((child) => (
									<li>
										<Link to={child.url}>{child.label}</Link>
									</li>
								))}
							</ul>
						</Dropdown>
					) : (
						<Link to={link.url} class="px-2xs">
							{link.label}
						</Link>
					)}
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav .links {
		display: flex;
	}

	.menu-list {
		padding-inline: var(--space-xs);
	}

	.menu-list li a {
		display: block;
		padding-block: var(--space-2xs);
	}

	.menu-list li + li {
		border-block-start: 1px solid var(--clr-border);
	}
</style>
